@charset "UTF-8";
@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #2A2A2C;
    color: #BAAE95;
}

#img_logo {
    width: 312px;
    height: 335px;
    display: block;
    margin: auto;
}

#img_fundo {
    height: 55px;
    width: 57px;
    background-image: url(../imagens/fundo.png);
    background-size: 55 57;
}

header {
    background-color: #2A2A2C;
    width: 100vw;
    height: 400px;
    background-image: url(../imagens/fundo.png);
    background-size: 90px;
    border-bottom: 1px solid #BAAE95;
    border-top: 1px solid #BAAE95;
    padding-bottom: 60px;
}

nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}

footer {
    background-color: #2A2A2C;
    width: 100vw;
    height: 100px;
    background-image: url(../imagens/fundo.png);
    background-size: 90px;
    border-bottom: 1px solid #BAAE95;
    border-top: 1px solid #BAAE95;
    padding-bottom: 60px;
    text-align: center;
}

.menu {
    position: relative;
    background-color: #232325;
    width: 100vw;
    margin: auto;
    border-bottom: 1px solid #BAAE95;
}

.menu_button {
    text-align: center;
    color: #BAAE95;
}

.menu_option {
    position: absolute;
    top: 100%;
    display: none;
    width: 100vw;
    border-bottom: 1px solid #BAAE95;
}

.link {
    color: #BAAE95;
    text-decoration: none;
    position: relative;
    width: 100vw;
    text-align: center;
    border-top: 1px solid #BAAE95;
    padding: 10px;
}
.link1 {
    color: #BAAE95;
    text-decoration: none;
}

#ultima_op {
    border-bottom: 1px solid #BAAE95;
}

.link:hover {
    background-color: #baae9523;
}
.link1:hover {
    color: #232325;
}

.menu:hover .menu_option {
    display: block;
    animation: slideDown 0.5s ease;
    background-color: #232325;
}

#wpp {
    height: 3em;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#logo_insta {
    height: 15px;
}
#logo_wpp {
    height: 15px;
}

main {
    display: block;
    margin: auto;
    width: 80vw;
    font-family: 'Baskervville', serif;
    font-size: 1em;
}
h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}
h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: lighter;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}
p {
    text-indent: 2em;
    line-height: 2em;
    margin-bottom: 10px;
}

a {
    color: #BAAE95;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}